<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit %>
  </p>

    <% form.label "description"%>
    <% from.text_field "description"%>
  </p>

    <% form.label "posted_on"%>
    <% from.text_field "posted_on"%>
  </p>

  <div class="mb-3">
    <% form.label "uploaded_image", class: "form-label"%>
    <% form.file_field "uploaded_image", accept: "image/png,image.jpg,image/jpeg"%>
  </div>


<% end %>